@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

:root {
  /* Primary Colors */
  --primary-color: #F26457;
  --hover-color: #CA3F33;
  --soft-coral-tinted: #EAF6F6;
  --section-bg: #1E4D4D;

  /* Neutral Colors */
  --charcoal: #2D2D2D;
  --secondary-color: #5A5A5A;
  --muted-ash: #A0A0A0;
  --stroke-color: #E0E0E0;
  --box-color:#f5f5f4;



  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
.lobster{
   font-family: "Lobster", sans-serif;;
   font-size:32px;
   color: var(--primary-color);
   font: weight 500px; ;
}
li{
  font-family: "Inter", Roboto;
}
.font-inter{
  font-family: "Inter";
}
.font-plus-jakarta{
  font-weight: "Plus Jakarta Sans";
}
section h1{
  font-family: "Inter";
}

body{
  background-color: var(--background);
}
.description{
  font-family: "Inter";
  font-size: 14px;
  color: var(--secondary-color);
}
.navlink{
  font-family: "Inter", Roboto;
  font-weight: 400;
}
.secondary-text-color{
 color: var(--secondary-color);
}

.muted-color{
  color: var(--muted-ash);
}

.muted-border{
  border:1px solid var(--muted-ash)
}

.stroke-color{
  border:1px solid var(--stroke-color)
}
.major-hero{
  font-family: "Inter", Robot0;
  font-size:78px;
  font-weight: bold;
  line-height: 130px;
  color:white
}
.mobile-major-hero{
  font-family: "Inter", Roboto;
  font-size:40px;
  font-weight: bold;
  line-height: 140px;
  color:white;
}
/* Define custom utilities using your variables */
@layer utilities {
  .bg-primary-color { background-color: var(--primary-color); }
  .bg-hover-color { background-color: var(--hover-color); }
  .bg-background { background-color: var(--background); }
  .bg-soft-coral-tinted { background-color: var(--soft-coral-tinted); }
  .bg-section-bg { background-color: var(--section-bg); }
  .bg-charcoal { background-color: var(--charcoal); }
  .bg-secondary-color { background-color: var(--secondary-color); }
  .bg-muted-ash { background-color: var(--muted-ash); }
  .box-color{background-color:  var(--box-color);}
  .stroke-text-color{color:var(--stroke-color)}

  .text-primary-color { color: var(--primary-color); }
  .text-hover-color { color: var(--hover-color); }
  .text-background { color: var(--background); }
  .text-soft-coral-tinted { color: var(--soft-coral-tinted); }
  .text-section-bg { color: var(--section-bg); }
  .text-charcoal { color: var(--charcoal); }
  .text-secondary-color { color: var(--secondary-color); }
  .text-muted-ash { color: var(--muted-ash); }

  .border-primary-color { border-color: var(--primary-color); }
  .border-hover-color { border-color: var(--hover-color); }
  .border-background { border-color: var(--background); }
  .border-soft-coral-tinted { border-color: var(--soft-coral-tinted); }
  .border-section-bg { border-color: var(--section-bg); }
  .border-charcoal { border-color: var(--charcoal); }
  .border-secondary-color { border-color: var(--hover-color); }
  .border-muted-ash { border-color: var(--muted-ash); }
  .border-stroke{border-color:var(--stroke-color)}
  .bg-button-1{background-color: var(--stroke-color)}
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-checkbox[data-state="checked"] {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}